@charset "utf-8";
/* CSS Document */

button {
	outline: none;
	cursor: pointer
}

button.style1 {
	padding: 1em;
	background: #fab000;
	border: 1px solid #fab000;
	font: 20px '나눔바른고딕','NanumBarunGothic';
	color: #fff;
}
button.style1.type2 {
	background: #fff;
	border: 1px solid #fab000;
	font: 16px '나눔바른고딕','NanumBarunGothic';
	color: #333;
}
button.style1.small {
	padding: 0.5em;
	font: 12px '나눔바른고딕','NanumBarunGothic';
}

button.btn {
	padding: 1em 0;
	text-align: center;
}
.btn.w100 {
	display: flex;
}
.btn.w100 button {
	flex: 1 1 auto;
}

.btn_stl1 {
	background: #e50000;
	background-image: -webkit-linear-gradient(top, #e50000, #a00000);
	background-image: -moz-linear-gradient(top, #e50000, #a00000);
	background-image: -ms-linear-gradient(top, #e50000, #a00000);
	background-image: -o-linear-gradient(top, #e50000, #a00000);
	background-image: linear-gradient(to bottom, #e50000, #a00000);
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	font:600 14px NanumGothic, "나눔고딕", dotum, "돋움", sans-serif;
	color: #ffffff;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 100);
}
.btn_stl1:hover {
	color:#FFF;
	background: #750000;
	background-image: -webkit-linear-gradient(top, #750000, #420000);
	background-image: -moz-linear-gradient(top, #750000, #420000);
	background-image: -ms-linear-gradient(top, #750000, #420000);
	background-image: -o-linear-gradient(top, #750000, #420000);
	background-image: linear-gradient(to bottom, #750000, #420000);
	text-decoration: none;
	border:1px solid RGB(142,0,0);
}
.red_btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #d4a594;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d4a594;
	box-shadow:inset 0px 1px 0px 0px #d4a594;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d93c49), color-stop(1, #b02a2a));
	background:-moz-linear-gradient(top, #d93c49 5%, #b02a2a 100%);
	background:-webkit-linear-gradient(top, #d93c49 5%, #b02a2a 100%);
	background:-o-linear-gradient(top, #d93c49 5%, #b02a2a 100%);
	background:-ms-linear-gradient(top, #d93c49 5%, #b02a2a 100%);
	background:linear-gradient(to bottom, #d93c49 5%, #b02a2a 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d93c49', endColorstr='#b02a2a', GradientType=0);
	background-color:#d93c49;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #b82e2e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:12px 29px;
	text-decoration:none;
}
.red_btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b02a2a), color-stop(1, #d93c49));
	background:-moz-linear-gradient(top, #b02a2a 5%, #d93c49 100%);
	background:-webkit-linear-gradient(top, #b02a2a 5%, #d93c49 100%);
	background:-o-linear-gradient(top, #b02a2a 5%, #d93c49 100%);
	background:-ms-linear-gradient(top, #b02a2a 5%, #d93c49 100%);
	background:linear-gradient(to bottom, #b02a2a 5%, #d93c49 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b02a2a', endColorstr='#d93c49', GradientType=0);
	background-color:#b02a2a;
}
.red_btn:active {
	position:relative;
	top:1px;
}
.red_btn2 {
	background: #ff6f00;
	background-image: -webkit-linear-gradient(top, #ff6f00, #b82d2b);
	background-image: -moz-linear-gradient(top, #ff6f00, #b82d2b);
	background-image: -ms-linear-gradient(top, #ff6f00, #b82d2b);
	background-image: -o-linear-gradient(top, #ff6f00, #b82d2b);
	background-image: linear-gradient(to bottom, #ff6f00, #b82d2b);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	-webkit-box-shadow: 1px 2px 0px #b3b3b3;
	-moz-box-shadow: 1px 2px 0px #b3b3b3;
	box-shadow: 1px 2px 0px #b3b3b3;
	font-family:  dotum, "돋움", sans-serif;
	color: #ffffff!important;
	font-size: 11px;
	padding: 3px 8px 0 8px;
	border: solid #ba5118 1px;
	text-decoration: none;
}
.red_btn2:hover {
	background: #C13B19;
	text-decoration: none;
}
.green_btn {
	background: #00ff51;
	background-image: -webkit-linear-gradient(top, #00ff51, #387810);
	background-image: -moz-linear-gradient(top, #00ff51, #387810);
	background-image: -ms-linear-gradient(top, #00ff51, #387810);
	background-image: -o-linear-gradient(top, #00ff51, #387810);
	background-image: linear-gradient(to bottom, #00ff51, #387810);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font:600 12px NanumGothic, "나눔고딕", dotum, "돋움", sans-serif;
	color: #ffffff!important;
	padding:  5px 12px 7px 12px;
	border: solid #008209 1px;
	text-decoration: none;
}
.green_btn a, .green_btn a:link, .green_btn a:visited, .green_btn a:active a {
	color:#FFF
}
.green_btn:hover {
	background: #12c93a;
	background-image: -webkit-linear-gradient(top, #12c93a, #067a25);
	background-image: -moz-linear-gradient(top, #12c93a, #067a25);
	background-image: -ms-linear-gradient(top, #12c93a, #067a25);
	background-image: -o-linear-gradient(top, #12c93a, #067a25);
	background-image: linear-gradient(to bottom, #12c93a, #067a25);
	text-decoration: none;
}
.green_btn2 {
	background: #00ff51;
	background-image: -webkit-linear-gradient(top, #00ff51, #387810);
	background-image: -moz-linear-gradient(top, #00ff51, #387810);
	background-image: -ms-linear-gradient(top, #00ff51, #387810);
	background-image: -o-linear-gradient(top, #00ff51, #387810);
	background-image: linear-gradient(to bottom, #00ff51, #387810);
	-webkit-border-radius: 2;
	-moz-border-radius: 2;
	border-radius: 2px;
	font-family:  dotum, "돋움", sans-serif;
	color: #ffffff!important;
	font-size: 11px;
	padding: 3px 8px 0 8px;
	border: solid #008209 1px;
	text-decoration: none;
}
.green_btn2 a, .green_btn2 a:link, .green_btn2 a:visited, .green_btn2 a:active a {
	color:#FFF
}
.green_btn2:hover {
	background: #12c93a;
	background-image: -webkit-linear-gradient(top, #12c93a, #067a25);
	background-image: -moz-linear-gradient(top, #12c93a, #067a25);
	background-image: -ms-linear-gradient(top, #12c93a, #067a25);
	background-image: -o-linear-gradient(top, #12c93a, #067a25);
	background-image: linear-gradient(to bottom, #12c93a, #067a25);
	text-decoration: none;
}
.blue_btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #cad8e6;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cad8e6;
	box-shadow:inset 0px 1px 0px 0px #cad8e6;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #93bcfa), color-stop(1, #328dc9));
	background:-moz-linear-gradient(top, #93bcfa 5%, #328dc9 100%);
	background:-webkit-linear-gradient(top, #93bcfa 5%, #328dc9 100%);
	background:-o-linear-gradient(top, #93bcfa 5%, #328dc9 100%);
	background:-ms-linear-gradient(top, #93bcfa 5%, #328dc9 100%);
	background:linear-gradient(to bottom, #93bcfa 5%, #328dc9 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#93bcfa', endColorstr='#328dc9', GradientType=0);
	background-color:#93bcfa;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #6488d1;
	display:inline-block;
	cursor:pointer;
	color:#FFF!important;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:12px 29px;
	text-decoration:none;
}
.blue_btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #328dc9), color-stop(1, #3D8DC9));
	background:-moz-linear-gradient(top, #328dc9 5%, #3D8DC9 100%);
	background:-webkit-linear-gradient(top, #328dc9 5%, #3D8DC9 100%);
	background:-o-linear-gradient(top, #328dc9 5%, #3D8DC9 100%);
	background:-ms-linear-gradient(top, #328dc9 5%, #3D8DC9 100%);
	background:linear-gradient(to bottom, #328dc9 5%, #3D8DC9 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#328dc9', endColorstr='#3D8DC9', GradientType=0);
	background-color:#328dc9;
}
.blue_btn:active {
	position:relative;
	top:1px;
}
.red_btn_big {
	background: #ff6f00;
	background-image: -webkit-linear-gradient(top, #ff6f00, #b82d2b);
	background-image: -moz-linear-gradient(top, #ff6f00, #b82d2b);
	background-image: -ms-linear-gradient(top, #ff6f00, #b82d2b);
	background-image: -o-linear-gradient(top, #ff6f00, #b82d2b);
	background-image: linear-gradient(to bottom, #ff6f00, #b82d2b);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	-webkit-box-shadow: 1px 2px 0px #b3b3b3;
	-moz-box-shadow: 1px 2px 0px #b3b3b3;
	box-shadow: 1px 2px 0px #b3b3b3;
	font:600 14px NanumGothic, "나눔고딕", dotum, "돋움", sans-serif;
	color: #ffffff!important;
	padding: 9px 20px 10px 20px;
	border: solid #ba5118 1px;
	text-decoration: none;
}
.red_btn_big:hover {
	background: #C13B19;
	text-decoration: none;
}
.red_btn_big2 {
	background: #ff6f00;
	background-image: -webkit-linear-gradient(top, #FF7D00, #FF5E00);
	background-image: -moz-linear-gradient(top, #FF7D00, #FF5E00);
	background-image: -ms-linear-gradient(top, #FF7D00, #FF5E00);
	background-image: -o-linear-gradient(top, #FF7D00, #FF5E00);
	background-image: linear-gradient(to bottom, #FF7D00, #FF5E00);
	-webkit-border-radius: 2;
	-moz-border-radius: 2;
	border-radius: 2px;
	-webkit-box-shadow: 1px 1px 0px #b3b3b3;
	-moz-box-shadow: 1px 1px 0px #b3b3b3;
	box-shadow: 1px 1px 0px #b3b3b3;
	font:600 12px dotum, "돋움", sans-serif;
	color: #ffffff!important;
	padding: 14px 30px 14px 30px;
	border: solid #ba5118 1px;
	text-decoration: none;
	text-shadow:0px 0px 1px #040f0d;
}
.red_btn_big2:hover {
	background: #FF7100;
	text-decoration: none;
}
.gray_btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9', GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:12px 29px;
	text-decoration:none;
	text-shadow:-1px -1px 0px #ffffff;
}
.gray_btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9', GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:12px 29px;
	text-decoration:none;
	text-shadow:-1px -1px 0px #ffffff;
}
.gray_btn:hover {	
	background-color:#e9e9e9;
}
.gray_btn:active {
	position:relative;
	top:1px;
}
.darkgray_btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #000;
	-webkit-box-shadow:inset 0px 1px 0px 0px #000;
	box-shadow:inset 0px 1px 0px 0px #BABABA;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #555555), color-stop(1, #404040));
	background:-moz-linear-gradient(top, #555555 5%, #404040 100%);
	background:-webkit-linear-gradient(top, #555555 5%, #404040 100%);
	background:-o-linear-gradient(top, #555555 5%, #404040 100%);
	background:-ms-linear-gradient(top, #555555 5%, #404040 100%);
	background:linear-gradient(to bottom, #555555 5%, #404040 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#404040', GradientType=0);
	background-color:#555555;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #292929;
	display:inline-block;
	cursor:pointer;
	color:#FFF!important;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:12px 29px;
	text-decoration:none;
	text-shadow:-1px -1px 0px #000;
}
.darkgray_btn:hover {	
	background-color:#404040;
}
.darkgray_btn:active {
	position:relative;
	top:1px;
}
/*회색작은버튼*/
a.sbtn {
	display:inline-block;
	height:18px;
	padding-right:4px;
	margin:0 0 0 0px;
	background:url(/common/img/btn/bg_btn_normal.gif) no-repeat 100% 0;
	font-family:'돋움', dotum;
	font-size:11px;
	text-decoration:none !important;
	color:#4f4f4f;
	line-height:21px;
	letter-spacing:-1px;
	word-spacing:-1px;
	white-space:nowrap;
	vertical-align:middle
}
a.sbtn span, a.sbtn strong {
	display:block;
	line-height:18px;
	padding:1px 4px 0 6px;
	background:url(/common/img/btn/bg_btn_normal.gif) no-repeat
}
a.sbtn.disabled {
	color:#b1b1b1
}
a.sbtn_rht {
	display:inline-block;
	position:absolute;
	right:0;
	height:18px;
	padding-right:4px;
	margin:0 0 0 0px;
	background:url(/common/img/btn/bg_btn_normal.gif) no-repeat 100% 0;
	font-family:'돋움', dotum;
	font-size:11px;
	text-decoration:none !important;
	color:#4f4f4f;
	line-height:18px;
	letter-spacing:-1px;
	word-spacing:-1px;
	white-space:nowrap;
	vertical-align:middle
}
a.sbtn_rht span, a.sbtn_rht strong {
	display:block;
	line-height:18px;
	padding:1px 4px 0 6px;
	background:url(/common/img/btn/bg_btn_normal.gif) no-repeat
}
a.sbtn_rht.disabled {
	color:#b1b1b1
}

/* 텍스트 버튼 */
a.btn {
	display:inline-block;
	padding-right:4px;
	margin:0 0 0 0px;
	background:url(/common/img/btn/bg_btn_default.gif) no-repeat 100% 0;
	font-family:'돋움', dotum;
	font-size:11px;
	text-decoration:none !important;
	color:#4f4f4f;
	line-height:21px;
	letter-spacing:-1px;
	word-spacing:-1px;
	white-space:nowrap;
	vertical-align:middle
}
a.btn span, a.btn strong {
	display:block;
	padding:1px 4px 0 8px;
	background:url(/common/img/btn/bg_btn_default.gif) no-repeat
}
a.btn.disabled {
	color:#b1b1b1
}
a.btn_rht {
	display:inline-block;
	position:absolute;
	right:10px;
	top:35%;
	padding-right:4px;
	margin:0 0 0 0px;
	background:url(/common/img/btn/bg_btn_default.gif) no-repeat 100% 0;
	font-family:'돋움', dotum;
	font-size:11px;
	text-decoration:none !important;
	color:#4f4f4f;
	line-height:21px;
	letter-spacing:-1px;
	word-spacing:-1px;
	white-space:nowrap;
	vertical-align:middle
}
a.btn_rht span, a.btn_rht strong {
	display:block;
	padding:1px 4px 0 8px;
	background:url(/common/img/btn/bg_btn_default.gif) no-repeat
}
a.btn_rht.disabled {
	color:#b1b1b1
}
