@charset "utf-8"; 
/* mangosoft web develope part/150901/writer:cks */ 

/* Common */ 
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-size:14px;line-height:1.25em}
body.s,.s input,.s textarea,.s select,.s button,.s table{font-family:Helvetica}
body{position:relative;background-color:#f4f4f4;color:#000;-webkit-text-size-adjust:none}
img,fieldset{border:0} ul,ol{list-style:none}
em,adress{font-style:normal}
a{color:#000;text-decoration:none}
table{border-collapse:collapse}
hr{display:none !important}
.u_hc,.u_skip{visibility:hidden;overflow:hidden;position:absolute;left:-999em;width:0;height:0;font-size:0;line-height:0}
.u_vc{position:absolute;z-index:-1;font-size:1px;line-height:1px;color:transparent}
#ct{clear:both;width:100%;background-color:#fff}
#ct::after{display:block;clear:both;height:1px;margin-top:-1px;content:''}