@charset "utf-8";
.fl {
	float:left
}
.fr {
	float:right
}
/* 컨텐츠정렬관련 */
.al {
	text-align:left !important;
}
.ac {
	text-align:center !important;
}
.ar {
	text-align:right !important;
}
.vt {
	vertical-align:top !important;
}
.vm {
	vertical-align:middle !important;
}
.vb {
	vertical-align:bottom !important;
}
.just {
	text-align:justify;
}
/*font기타*/
.fbo {
	font-weight:bold !important;
}
.fno {
	font-weight:normal !important;
}
.fud {
	text-decoration:underline;
}
/* 마진 */
.m_5 {
	margin:5px!important;
}
.m_10 {
	margin:10px!important;
}
.m_15 {
	margin:15px!important;
}
.m_20 {
	margin:20px!important;
}
.m_25 {
	margin:25px!important;
}
.m_30 {
	margin:30px!important;
}
.m_t_5 {
	margin-top:5px!important;
}
.m_t_10 {
	margin-top:10px!important;
}
.m_t_15 {
	margin-top:15px!important;
}
.m_t_20 {
	margin-top:20px!important;
}
.m_t_25 {
	margin-top:25px!important;
}
.m_t_30 {
	margin-top:30px!important;
}
.m_t_40 {
	margin-top:40px!important;
}
.m_t_50 {
	margin-top:40px!important;
}
.m_r_3 {
	margin-right:3px!important;
}
.m_r_5 {
	margin-right:5px!important;
}
.m_r_10 {
	margin-right:10px!important;
}
.m_r_15 {
	margin-right:15px!important;
}
.m_r_20 {
	margin-right:20px!important;
}
.m_r_25 {
	margin-right:25px!important;
}
.m_r_30 {
	margin-right:30px!important;
}
.m_r_40 {
	margin-right:40px!important;
}
.m_b_5 {
	margin-bottom:5px!important;
}
.m_b_10 {
	margin-bottom:10px!important;
}
.m_b_15 {
	margin-bottom:15px!important;
}
.m_b_20 {
	margin-bottom:20px!important;
}
.m_b_25 {
	margin-bottom:25px!important;
}
.m_b_30 {
	margin-bottom:30px!important;
}
.m_b_40 {
	margin-bottom:40px!important;
}
.m_b_50 {
	margin-bottom:40px!important;
}
.m_l_5 {
	margin-left:5px!important;
}
.m_l_10 {
	margin-left:10px!important;
}
.m_l_15 {
	margin-left:15px!important;
}
.m_l_20 {
	margin-left:20px!important;
}
.m_l_25 {
	margin-left:25px!important;
}
.m_l_30 {
	margin-left:30px!important;
}
.m_tb_5 {
	margin:5px 0!important;
}
.m_tb_10 {
	margin:10px 0!important;
}
.m_tb_15 {
	margin:15px 0!important;
}
.m_tb_20 {
	margin:20px 0!important;
}
.m_tb_25 {
	margin:25px 0!important;
}
.m_tb_30 {
	margin:30px 0!important;
}
.m_lr_3 {
	margin:0 3px!important;
}
.m_lr_5 {
	margin:0 5px!important;
}
.m_lr_10 {
	margin:0 10px!important;
}
.m_lr_15 {
	margin:0 15px!important;
}
.m_lr_20 {
	margin:0 20px!important;
}
.m_lr_25 {
	margin:0 25px!important;
}
.m_lr_30 {
	margin:0 30px!important;
}
/* 패딩 */
.p_5 {
	padding:5px!important;
}
.p_10 {
	padding:10px!important;
}
.p_15 {
	padding:15px!important;
}
.p_20 {
	padding:20px!important;
}
.p_25 {
	padding:25px!important;
}
.p_30 {
	padding:30px!important;
}
.p_t_5 {
	padding-top:5px!important;
}
.p_t_10 {
	padding-top:10px!important;
}
.p_t_15 {
	padding-top:15px!important;
}
.p_t_20 {
	padding-top:20px!important;
}
.p_t_25 {
	padding-top:25px!important;
}
.p_t_30 {
	padding-top:30px!important;
}
.p_t_40 {
	padding-top:40px!important;
}
.p_r_5 {
	padding-right:5px!important;
}
.p_r_10 {
	padding-right:10px!important;
}
.p_r_15 {
	padding-right:15px!important;
}
.p_r_20 {
	padding-right:20px!important;
}
.p_r_25 {
	padding-right:25px!important;
}
.p_r_30 {
	padding-right:30px!important;
}
.p_b_5 {
	padding-bottom:5px!important;
}
.p_b_10 {
	padding-bottom:10px!important;
}
.p_b_15 {
	padding-bottom:15px!important;
}
.p_b_20 {
	padding-bottom:20px!important;
}
.p_b_25 {
	padding-bottom:25px!important;
}
.p_b_30 {
	padding-bottom:30px!important;
}
.p_l_5 {
	padding-left:5px!important;
}
.p_l_10 {
	padding-left:10px!important;
}
.p_l_15 {
	padding-left:15px!important;
}
.p_l_20 {
	padding-left:20px!important;
}
.p_l_25 {
	padding-left:25px!important;
}
.p_l_30 {
	padding-left:30px!important;
}
.p_l_40 {
	padding-left:40px!important;
}
.p_tb_5 {
	padding:5px 0!important;
}
.p_tb_10 {
	padding:10px 0!important;
}
.p_tb_15 {
	padding:15px 0!important;
}
.p_tb_20 {
	padding:20px 0!important;
}
.p_tb_25 {
	padding:25px 0!important;
}
.p_tb_30 {
	padding:30px 0!important;
}
.p_lr_5 {
	padding:0 5px!important;
}
.p_lr_10 {
	padding:0 10px!important;
}
.p_lr_15 {
	padding:0 15px!important;
}
.p_lr_20 {
	padding:0 20px!important;
}
.p_lr_25 {
	padding:0 25px!important;
}
.p_lr_30 {
	padding:0 30px!important;
}
/*font_style*/
.fs0 {
	font-size:0px !important;
}
.f10 {
	font-size: 10px!important;
}
.f11 {
	font-size: 11px!important;
}
.f12 {
	font-size:12px !important;
}
.f14 {
	font-size:14px !important;
}
.f18 {
	font-size:18px !important;
}
.fs20 {
	font-size:20px !important;
}

.fb{
	font-weight:bold !important;
}
.fn{
	font-weight:normal !important;
}


/*자간조절*/
.ls0 {
	letter-spacing:0 !important;
}
.ls_1 {
	letter-spacing:-1px !important;
}
.ls_2 {
	letter-spacing:-2px !important;
}
/*line-height*/
.lh12 {
	line-height:1.2em !important;
}
.lh14 {
	line-height:1.4em !important;
}
.lh15 {
	line-height:1.5em !important;
}
.lh16 {
	line-height:1.6em !important;
}
.lh17 {
	line-height:1.7em !important;
}
.lh18 {
	line-height:1.8em !important;
}
.lh19 {
	line-height:1.9em !important;
}
.lh20 {
	line-height:2.0em !important;
}
/*font_color*/
.f_FDBA2E, a.f_FDBA2E, a:link.f_FDBA2E, a:active.f_FDBA2E, a:visited.f_FDBA2E {
	color:#FDBA2E!important
}
a:hover.f_FDBA2E {
	color:#ffffff!important
}
.f_FD5623, a.f_FD5623, a:link.f_FD5623, a:active.f_FD5623, a:visited.f_FD5623 {
	color:#FD5623!important
}
a:hover.f_FD5623 {
	color:#ffffff!important
}
.f_9CE438, a.f_9CE438, a:link.f_9CE438, a:active.f_9CE438, a:visited.f_9CE438 {
	color:#9CE438!important
}
a:hover.f_9CE438 {
	color:#ffffff!important
}
.f_EFFE37 {
	color:#EFFE37!important;
}
.f_fffc05 {
	color:#fffc05!important;
}
.f_FE8327, a.f_FE8327, a:link.f_FE8327, a:active.f_FE8327, a:visited.f_FE8327 {
	color:#FD5623!important
}
a:hover.f_FE8327 {
	color:#ffffff!important
}
.f_1FB6F8, a.f_1FB6F8, a:link.f_1FB6F8, a:active.f_1FB6F8, a:visited.f_1FB6F8 {
	color:#1FB6F8!important
}
a:hover.f_1FB6F8 {
	color:#ffffff!important
}
.f_A7FD33, a.f_A7FD33, a:link.f_A7FD33, a:active.f_A7FD33, a:visited.f_A7FD33 {
	color:#A7FD33!important
}
a:hover.f_A7FD33 {
	color:#ffffff!important
}
.c000 {
	color:#000000 !important;
}
.c333 {
	color:#333333 !important;
}
.c444 {
	color:#444444 !important;
}
.c555 {
	color:#555555 !important;
}
.c666 {
	color:#666666 !important;
}
.c777 {
	color:#777777 !important;
}
.c888 {
	color:#888888 !important;
}
.c999 {
	color:#999999 !important;
}
.caaa {
	color:#aaaaaa !important;
}
.cbbb {
	color:#bbbbbb !important;
}
.cccc {
	color:#cccccc !important;
}
.cddd {
	color:#dddddd !important;
}
.ceee {
	color:#eeeeee !important;
}
.cfff {
	color:#ffffff !important;
}
.cf00 {
	color:#ff0000 !important;
}
.c0f0 {
	color:#00ff00 !important;
}
.c00f {
	color:#0000ff !important;
}
.cff0 {
	color:#ffff00 !important;
}
.cf60 {
	color:#ff6600 !important;
}
.c06f {
	color:#0066ff !important;
}
.cfff {
	color:#ffffff !important;
}
/* Box, Background */
.fix {
	table-layout:fixed;
}
.inline {
	display:inline;
}
.block {
	display:block;
}
.inblck {
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.none {
	display:none;
}
.bx {
	border:none !important;
}
.btx {
	border-top:none !important;
}
.brx {
	border-right:none !important;
}
.bbx {
	border-bottom:none !important;
}
.blx {
	border-left:none !important;
}
.bw1 {
	border-width:1px !important;
}
.bw2 {
	border-width:2px !important;
}
.bw3 {
	border-width:3px !important;
}
.dash {
	border-style:dashed !important;
}
.trans {
	background:transparent !important;
}
.bgx {
	background:none !important;
}
.bgimgx {
	background-image:none !important;
}
/* ETC */
.relative {
	position:relative;
}
.absolute {
	position:absolute;
}
.hand {
	cursor:pointer;
}

/* 네비게이션 */

.skip, .blind {
	position:absolute;
	top:0;
	left:0;
	width:1px;
	height:1px;
	overflow:hidden;
	visibility:hidden;
	font-size:1px;
	line-height:0;
	text-indent:-9999px;
}
